html
  head
    title TripShare - powered by Bluemix
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet')
    link(href='/public/css/index.css' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div(class='well')
        h1 Hackathon Team E - powered by Bluemix
        p
            a(href='/') Back
    p= 'Analyze: ' + info
    div(class="img-rounded")
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3= Tags
                div(class="panel-body")
                    img(src=url)
